<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="appExamen2.Properties.Settings.Setting" connectionString="Data Source=LAPTOP-LFOM23KG\SQLEXPRESS;Initial Catalog=EXAMEN_POO_2;Integrated Security=True" />
    </connectionStrings>
</configuration>